*{
    padding:0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Noto Sans KR', sans-serif;
}


/*==================== header ====================*/
header{
    position: fixed;
    left: 2.5vw;
    width: 90vw;
    padding: 20px;
    margin: 0 auto;
    z-index: 2;
}
header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    padding-right: 40px;
    font-size: 20px;
    color: #010030;
    letter-spacing: -2px;
}
header nav a:hover{
    font-weight: bold;
}


/*==================== main ====================*/

.box01{
    width: 100%;
}
.content-box01{
    width: 80%;
    margin: 0px auto;
}

.content01 h2{
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
}
.search01{
    width: 80%;
    text-align: right;
} 
.button{
    padding-top: 25px;
    display: flex;
    justify-content: center;
}
.button01{
    width: 200px; height: 200px;
    border: 1px solid #FEC6D7;
    background-color: #FEC6D7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button02{
    width: 200px; height: 200px;
    margin: 0px 50px;
    border: 1px solid #FE9FBD;
    background-color: #FE9FBD;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button03{
    width: 200px; height: 200px;
    border: 1px solid #FEC6D7;
    background-color: #FEC6D7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box{
    width: 80%;
    padding-top: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.search-box span{
    border-bottom: 1px solid black;
}
.search-box input{
    border: none;
    outline: none;
}
.button02 p{font-weight: bold;}
.button p{color: #000; font-size: 30px;}


/* 게시판 */
.board {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}
.board td {
    font-size: 22px;
    padding: 20px;
    text-align: left;
}
.board td:nth-of-type(2) {
    text-align: left;
    font-weight: bold;
}
.board tbody tr:nth-of-type(even){
    background: #FEC6D7;
}


/*==================== footer ====================*/

.top-footer{
    margin-top: 60px;
    padding: 10px 90px;
    background-color: #F6F6F6;
}
.top-footer p{
    color: #BBBBBB;
}
.bottom-footer{
    display: flex;
    padding: 50px 90px;
    background-color: #ECECEC;
}
.bottom-footer p{
    padding-right: 50px;
    color: #BBBBBB;
}
